---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import Cpp from "./icons/Cpp.astro"
import Unity from "./icons/Unity.astro"
import Csharp from "./icons/Csharp.astro"
import Flutter from "./icons/Flutter.astro"
import Dart from "./icons/Dart.astro"
import Maya from "./icons/Maya.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  CPP: {
    name: "C++",
    class: "bg-[#003159] text-white",
    icon: Cpp,
  },
  UNITY: {
    name: "Unity",
    class: "bg-[#003159] text-white",
    icon: Unity,
  },
  CSHARP: {
    name: "C#",
    class: "bg-[#003159] text-white",
    icon: Csharp,
  },
  FLUTTER: {
    name: "FLUTTER",
    class: "bg-[#003159] text-white",
    icon: Flutter,
  },
  DART: {
    name: "Dart",
    class: "bg-[#003159] text-white",
    icon: Dart,
  },
  MAYA: {
    name: "Maya",
    class: "bg-[#003159] text-white",
    icon: Maya,
  },
}
const PROJECTS = [
  {
    title: "ALIEN: EXTRACTION",
    description:
      "Videojuego desarrollado por el estudio ficticio CLAPCOM STUDIOS. Durante este proyecto me encargué del perfeccionado del apartado de VFX en el Motor propio y las implementaciones de estos",
    link: "https://clapcom-studios.github.io/Website/index.html",
    github: "https://github.com/Clapcom-Studios/Alien-Extraction",
    image: "./projects/alienextraction.webp",
    tags: [TAGS.CPP],
  },
  {
    title: "CITM FIGHTERS",
    description:
      "En este proyecto se creó un videojuego de lucha en vista lateral en el cual dos personajes debían enfrentarse. Me encargué de todo lo relacionado con la creación y producción del videojuego. Así como de todas las animaciones 3D de los personajes.",
    github: "https://github.com/Toto-RR/CITM-FIGHTERS",
    image: "./projects/citmfigthers.webp",
    tags: [TAGS.UNITY, TAGS.CSHARP, TAGS.MAYA],
  },
  {
    title: "POKÉDEX",
    description:
      "Un proyecto en el cual, utilizando Flutter, se hizo una aplicación para Android que simula una Pokédex (Pokémon), dónde también se utilizaba la API de Pokémon PokeApi.",
    github: "https://github.com/Toto-RR/Pokedex_Flutter",
    link: "https://pokedex-flutter.vercel.app/",
    image: "./projects/pokedex-2024.webp",
    tags: [TAGS.FLUTTER, TAGS.DART],
  },
]
---

<style is:global>
  .project-image {
    height: 300px;
    object-fit: cover;
    width: 100%;
    object-position: top;
  }
</style>

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
      <div class="w-full md:w-1/2">
        <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
          <img alt="Imagen no disponible" class="project-image" loading="lazy" src={image} />
        </div>
      </div>

      <div class="w-full md:w-1/2 md:max-w-lg">
        <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
          {title}
        </h3>
        <div class="flex flex-wrap mt-2">
          <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

          <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
          <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Web
                </LinkButton>
              )}
            </footer>
        </div>
      </div>
    </article>
    ))
  }
</div>
